MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=strat_matrix
INTEGRATION_TOKEN=replace_with_random_shared_secret
BACKEND_PORT=6930
FRONTEND_PORT=930

